.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    height: 170px;
    margin-top: 40px;
    border-radius: 10px;
    border: 8px solid rgba(255, 255, 255, 0.219);
}
